<%= render "shared/banner" %>
<div class="container">
    <div class="row">
        <div class="col-3">
            <%= render "shared/side-bar" %>
        </div>
        <div class="col-9">
            <h1>Doctrinal Statement</h1>
            <p>We believe that the <span class="badge badge-primary">King James Bible</span> is the word of God without error.</p>
            <p>We believe that <span class="badge badge-primary">salvation</span> is by grace through faith. Being born again by believing on the Lord Jesus Christ is the only requirement for salvation.</p>
            <p>We believe in the eternal security of the believer (once saved, always saved).</p>
            <p>We believe that the unsaved will spend eternity in torment in a <span class="badge badge-danger">literal hell</span>.</p>
            <p>We believe that <span class="badge badge-primary">Jesus is God</span>, and that Jesus Christ was conceived of the Holy Ghost and born of the virgin Mary.</p>
            <p>We believe only in the <span class="badge badge-primary">local church</span> and not in a universal church.</p>
            <p>We <span class="badge badge-primary">reject the teaching of Calvinism</span> and believe that God wants everyone to be saved.</p>
            <p>We believe that the rapture will take place <span class="badge badge-primary">after the tribulation</span> but before God pours out his wrath on this earth. We reject dispensationalism.</p>
            <p>We believe that <span class="badge badge-primary">life begins at conception</span> (fertilization) and reject all forms of abortion including surgical abortion, "morning-after" pills, IVF (In Vitro Fertilization), birth control pills, and all other processes that end life after conception.</p>
            <p>We believe that <span class="badge badge-primary">homosexuality</span> is a sin and an abomination which God punishes with the death penalty.</p>
            <p>We <span class="badge badge-primary">oppose</span> worldliness, modernism, formalism, and liberalism.</p>
            <blockquote class="blockquote">
                <p class="mb-0">“If the foundations be destroyed, what can the righteous do?”</p>
                <footer class="blockquote-footer">Psalms 11:3 <cite title="Source Title">KJV</cite></footer>
          </blockquote>
        </div>
    </div>
</div>
