<% if admin? %>
<div class="modal fade" id="sForm" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="exampleModalLabel">Upload Sermon</h5>
        <div id="new-form">
          <%= render 'new_form_callback' %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>