<ul class="nav flex-column nav-pills">
    <li class="nav-item">
        <%= link_to "Doctrinal Statement", class: "nav-link text-uppercase text-left", controller: "doctrinalstatement", action: "show" %>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled text-uppercase text-left" href="#" role="button">Foreign Languages</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-uppercase text-left" href="church-directory.html" role="button">Church Directory</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-uppercase text-left" href="https://get.google.com/albumarchive/117089279522537034856" target="_blank" role="button">Pictures</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-uppercase text-left" href="https://www.instagram.com/faithfulwordbaptist/" target="_blank" role="button">Instagram</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled text-uppercase text-left" href="#" role="button">Hymns</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-uppercase text-left" href="psalms.html" role="button">Psalms</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-uppercase text-left" href="radio.html" role="button">Radio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-uppercase text-left" href="audio-bible.html" role="button">Audio Bible <span class="badge badge-warning">NEW</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-uppercase text-left" href="http://www.fwbcbotswana.com" role="button">Botswana</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-uppercase text-left" href="malawi.html" role="button">Malawi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-uppercase text-left" href="https://www.truebornsons.com/donate-to-fwbc/" role="button">Donate</a>
    </li>
</ul>