<%= render "shared/banner" %>
<div class="container">
    <div class="row">
        <div class="col-3">
            <%= render "shared/side-bar" %>
        </div>
        <div class="col-9">
            <h1>Make a donation to Faithful Word Baptist Church!</h1>
              <a class="btn btn-primary btn-lg text-center" href="https://www.truebornsons.com/donate-to-fwbc/" role="button">DONATE NOW &rsaquo;</a>
              <hr>
              <p>
                Browser Compatability: We support all modern browsers, such as Google Chrome, Safari, Mozilla Firefox, Opera, and Internet Explorer version 9 and higher. Javascript is required for this site to function properly.
              </p>
              <p>
                This website may contain links to other sites on the internet that are owned and operated by third parties. You acknowledge that we are not responsible for the operation of or content located on or through any of these sites. Use of these sites is completely at your own risk.
              </p>
              <p>
                If you access and use this website outside the United States you are responsible for complying with your local laws and regulations.
              </p>
              <p>
                Customer Service: If you need help with your account, login issues, or general help with any of your transactions or use of this website, please contact your organization's administrative offices for assistance. SecureGive works hand in hand with your organization's personnel to help resolve any issues in a timely manner.
              </p>
              <p>
                Refunds: If you made a transaction that needs to be refunded, please contact your organization's administrative offices and they can assist to get your funds returned as quickly as possible.
              </p>
              <p>
                Transactions: Your account will be charged at the time your transaction is completed, and this transaction will take a few days to clear the bank and for the funds to be deducted from your account. If it has been longer than 5 business days and your funds have not been deducted from your account, please contact your organization's administrative offices for further assistance.
              </p>
              <p>
                If you or this organization needs to connect with us, we can be reached at 602-456-1049
              </p>
        </div>
    </div>
</div>
