<%= render "shared/banner" %>
<div class="container">
    <div class="row">
        <div class="col-3">
            <%= render "shared/side-bar" %>
        </div>
        <div class="col-9">
            
        </div>
    </div>
</div>
