<% provide(:title, "Doctrinal Statement") %>
<%= render "shared/banner" %>
<div class="d-flex flex-nowrap">
  <%= render "shared/side-bar" %>
  <div>
    <h4>Doctrinal Statement</h4>
    <div style="font-size: 13px">
      <p>We believe that the <b>King James Bible</b> is the word of God without error.</p>
      <p>We believe that <b>salvation</b> is by grace through faith. Being born again by believing on the Lord Jesus Christ is the only requirement for salvation.</p>
      <p>We believe in the eternal security of the believer (once saved, always saved).</p>
      <p>We believe that the unsaved will spend eternity in torment in a <b>literal hell</b>.</p>
      <p>We believe that <b>Jesus is God</b>, and that Jesus Christ was conceived of the Holy Ghost and born of the virgin Mary.</p>
      <p>We believe only in the <b>local church</b> and not in a universal church.</p>
      <p>We <b>reject the teaching of Calvinism</b> and believe that God wants everyone to be saved.</p>
      <p>We believe that the rapture will take place <b>after the tribulation</b> but before God pours out his wrath on this earth. We reject dispensationalism.</p>
      <p>We believe that <b>life begins at conception</b> (fertilization) and reject all forms of abortion including surgical abortion, "morning-after" pills, IVF (In Vitro Fertilization), birth control pills, and all other processes that end life after conception.</p>
      <p>We believe that <b>homosexuality</b> is a sin and an abomination which God punishes with the death penalty.</p>
      <p>We <b>oppose</b> worldliness, modernism, formalism, and liberalism.</p>
    </div>
  </div>
</div>
