<style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
<% provide(:title, "Location") %>
<%= render "shared/banner" %>
<div class="container">
	<div class="row">
		<div class="col">
				<h1>Location</h1>
				<p>
					<strong>2741 W Southern Ave, Suite #14<br>Tempe, AZ 85282</strong>
				</p>
				<p>
					We are located on the SE corner of Southern Avenue and 48th Street.
				</p>
		</div>
	</div>
	<div class="row">
		<div class="container">
			<div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
		</div>
	</div>
</div>
<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaTSuk8jRY3cgBUM_Zp5-OtC97sjw0kXs&callback=initMap">
</script>