<% provide(:title, "Our Pastor") %>
<%= render "shared/banner" %>
<div class="container">
          <div class="row">
            <div class="col-4">
              
            </div>
            <div class="col-8">
              <h1>Our Pastor</h1>
              <p>
                Pastor Steven Anderson was born and raised in Sacramento, CA. At age 18, he travelled throughout Germany and Eastern Europe for 3 months serving in local independent Baptist churches, studying foreign languages, and getting experience in the ministry. It was on this trip that he met his future wife, Zsuzsanna, while out soul-winning in the streets of Munich, Bavaria. He eventually led her to the Lord, and they were married shortly thereafter. They have been married for over 15 years, and God has blessed them with 9 beautiful children. 
              </p>
              <p>
                Pastor Anderson started Faithful Word Baptist Church on December 25, 2005. He holds no college degree but has well over 140 chapters of the Bible memorized word-for-word, including approximately half of the New Testament. Today, most Baptist churches are started by Bible colleges. However, the Bible makes it clear that the church is the pillar and ground of the truth, not a school. Faithful Word Baptist Church is a totally independent Baptist church, and Pastor Anderson was sent out by an independent Baptist church in Northern California to start it the old-fashioned way by knocking doors and winning souls to Christ.
              </p>
              <%= link_to "Click here for Pastor Anderson's Wifes's Blog!", "http://stevenandersonfamily.blogspot.com/", target: "_blank" %>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <h1>Our Deacon</h1>
              <p>
                Brother Tyler Baker is an ordained deacon and full time servant of Faithful Word Baptist Church. Originally from Kentucky, he moved his family to Arizona in August 2014 with a desire to be trained for the ministry. He and his wife Jessica have 3 children: Mckayla, Elijah, and Jeremiah. Brother Baker is planning to leave FWBC in the summer of 2017 to plant an independent Baptist church in Jacksonville, Florida. 
              </p>
              <p>
                There are many misconceptions about what it means to be a deacon. Many churches have a "board of deacons" who are laymen that have nothing to do with the church's daily administration. However, the Bible makes it clear that deacons are to be spirit-filled preachers who handle the daily work of the church (see Acts 6:1-7 and 1 Timothy 3:8-13). That is why at FWBC, the office of deacon is a full time, paid position. Brother Baker's duties include preaching, soul-winning, baptizing converts, and the everyday business of the church. 
              </p>
            </div>
            <div class="col-4">
              
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              
            </div>
            <div class="col-8">
              <h1>Our Evangelist</h1>
              <p>
                Brother Garrett Kirchway has been a faithful member of Faithful Word Baptist Church since he was saved and baptized in September 2008. Starting in May 2016, Bro Kirchway is now in the ministry full time as a missionary, or what the Bible calls an "evangelist." In April 2017, he will be moving to Africa where he plans to spend the rest of his life preaching the Gospel to the people of Malawi. He will be based in Lilongwe, which is the largest city in Malawi. 
              </p>
              <p>
                Faithful Word Baptist Church will be paying Bro Kirchway's salary until such a time as the church in Malawi is able to become independent. In addition, we will be raising money online through online donations in order to pay his wages and provide supplies such as Bibles, New Testaments, church invitations, song books, preaching CDs, DVDs, etc. Before Bro Kirchway was saved, he was involved in the charismatic movement, which unfortunately is very popular in Malawi. He has also lived a very austere life for the last 8 years, so in many ways he is well suited for the task that God has for him in Malawi.
              </p>
              <%= link_to "Click here to donate to Bro. Kirchway's Ministry in Malawi", malawi_path %>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="text-center">
                <h3>Pastor Anderson on social networking sites:</h3>
                <a href="https://www.facebook.com/pastorstevenanderson"><img style="width: 55px; height: auto" src="assets/icons/facebook.svg"></a>
                <a href="https://twitter.com/sanderson1611"><img style="width: 55px; height: auto" src="assets/icons/twitter.svg"></a>
                <a href="https://www.youtube.com/user/sanderson1611"><img style="width: 55px; height: auto" src="assets/icons/youtube.svg"></a>
                <a href="http://sanderson1611.blogspot.com/"><img style="width: 55px; height: auto" src="assets/icons/blogger.svg"></a>
              </div>
              <blockquote class="blockquote">
                <p class="mb-0">“And he gave some, apostles; and some, prophets; and some, evangelists; and some, pastors and teachers; For the perfecting of the saints, for the work of the ministry, for the edifying of the body of Christ:”</p>
                <footer class="blockquote-footer">Ephesians 4:11-12 <cite title="Source Title">KJV</cite></footer>
              </blockquote>
            </div>
          </div>

        </div>