<% provide(:title, "Service") %>
<h4>Church Service Times</h4>
<p class="service-heading">Sunday Morning Preaching Service</p>
<p>10:30 AM</p>
<p class="service-heading">Sunday Evening Preaching Service</p>
<p>6:30 PM</p>
<p class="service-heading">Wednesday Evening Bible Study</p>
<p>7:00 PM</p>
<p><b>Children and infants of all ages are welcome in the services.</b></p>