#slider-header {
  color: white;
  position: absolute;
  bottom: 30%;
  left: 1%;
  right: 1%;
  z-index: 1;
}

.shadow {
    -webkit-filter: drop-shadow( 0 1px 3px rgba(0,0,0,0.12) );
            filter: drop-shadow( 0 1px 2px rgba(0,0,0,0.24) );
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow:hover {
  -webkit-filter: drop-shadow( 0 14px 28px rgba(0,0,0,0.25) );
          filter: drop-shadow( 0 10px 10px rgba(0,0,0,0.22) );
}

.banner-img {
  width: 100%;
  height: auto;
  border: 1px solid #999;
  outline: 10px solid #eaeaea;
}

.banner-border {
  border-top: 11px solid white;
  border-left: 11px solid white;
  border-bottom: 11px solid #eaeaea;
  border-right: 11px solid #eaeaea;
  outline: 1px solid #999;
}

#list-sw {
  padding-bottom: 37px;
}
#events-pad {
  padding-bottom: 20px;
}

#masonry-grid {
  margin: 0 auto;
}
.grid-item {
  width: 220px;
  margin: 20px;
}

#masonry-chapter {
  margin: 0 0;
}
.chapter-item {
  margin: 1px;
}


.centered { margin: 0 auto; }

.text-silent {
  font-family: Gotham-BoldIta;
  color: white;
  font-size: 90%;
  opacity: 0.7;
}

/*.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}*/

.btn-outline-white {
  font-family: Gotham-Light;
  color: #ddd;
  background-image: none;
  background-color: transparent;
  border-color: #ddd;
}

.btn-outline-white:hover {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.btn-outline-white:active, .btn-outline-info.active,
.show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.btn-outline-gold {
  color: #CFB53B;
  background-color: transparent;
  background-image: none;
  border-color: #CFB53B;
}

.btn-outline-gold:hover {
  color: #fff;
  background-color: #CFB53B;
  border-color: #CFB53B;
}

.btn-outline-gold:focus, .btn-outline-primary.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.btn-outline-gold.disabled, .btn-outline-primary:disabled {
  color: #0275d8;
  background-color: transparent;
}

.btn-outline-gold:active, .btn-outline-gold.active,
.show > .btn-outline-gold.dropdown-toggle {
  color: #fff;
  background-color: #D4AF37;
  border-color: #D4AF37;
}

.btn-gold {
  color: #fff;
  background: #ffdc73;
  border-color: #ffdc73;
}

.btn-gold:hover {
  color: #fff;
  background: #ffcf40;
  border-color: #ffcf40;
}

.btn-gold:focus, .btn-gold.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.btn-gold.disabled, .btn-primary:gold {
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-gold:active, .btn-gold.active,
.show > .btn-gold.dropdown-toggle {
  color: #fff;
  background-color: #CFB53B;
  background-image: none;
  border-color: #CFB53B;
}

.nav-custom{
  text-transform: uppercase !important;
  color: #0275d8;
  display: block;
  border-bottom: 3px solid transparent;
  padding: 0px 0px 0px 0px !important;
  margin: 0.5em 1em;
}

.nav-custom-active{
  border-bottom: 3px solid #0275d8;
  padding: 0px 0px 0px 0px !important;
}

.nav-custom:focus, .nav-custom:hover {
  text-decoration: none;
}

.form-value-cover {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25;
  color: #464a4c;
  text-align: center;
  background-color: #eceeef;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.top-btn {
  color: blue;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  background: linear-gradient(#f2f2f2, #dddddd);
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  /*border-right: 1px solid #999;*/
  padding: 8px 8px;
  margin: 0px;
  /*border-color: #0275d8;*/
}


.top-btn:hover {
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 39%, rgba(240,240,240,1) 89%, rgba(212,212,212,1) 100%);
  border-top: 0px;
  padding-top: 9px;
  border-left: 0px;
  padding-left: 9px;
}

.top-btn:active {
  background: linear-gradient(rgba(153,153,153,1) 0%, rgba(214,214,214,1) 19%, rgba(252,252,252,1) 100%);
  border-top: 0px;
  padding-top: 9px;
  border-left: 0px;
  padding-left: 9px;
}

.bar {
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex; 
  height: 36px;
  background: linear-gradient(#f2f2f2, #dddddd);
  border: 1px solid #999;
}

.bar-side {
  border-right: 1px solid #999;
  display: inline-block;
  margin: 0px;
}

/*.bar-side:last-child {
  color: red;
  border-right: 0px;
  display: inline-block;
  margin: 0px;
} 
*/
a {
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
margin: 0px;
}

a:hover {
  text-decoration: none;
  color: #FF0000;
}


.browse-side-column {
  border: 1px solid #999;
  border-radius: 5px;
  background-color: #eaeaea;
  width: 190px;
  padding-top:6px;
  padding-bottom: 6px;
}

.browse-categories-side {
  margin: 0;
  padding: 0;
}

.browse-category-top-level {
   /* padding-left: 11px;*/
}

.browse-category-top-level:hover {
  /*background-color: #ccc;*/
}

.browse-category-top-level:active {
  background-color: #AFAFAF;
}

.active-s {
  background-color: #AFAFAF;
}

.browse-link {
    font-size: 12px;
    width: 100%;
    padding-left: 11px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    line-height: 16px;
    font-weight: bold;
}

.browse-link:hover {
  background-color: #ccc;
}

.browse-sub-link {
    font-size: 12px;
    width: 100%;
    padding-left: 31px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    line-height: 16px;
    font-weight: bold;
}

.side-column {
  margin-right: 20px;
}

.body-column {
  width: 900px;
  margin-top: 5px;
}
ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

li {
  display: flex;
}