<footer>
  <div class="container">
    <hr>
    <div class="row">
      <div class="col">
        <p>Faithful Word Baptist Church 2017<br><%= link_to "Privacy Policy", privacypolicy_path %> / <%= link_to "Terms and Conditions", termsandconditions_path %></p>
      </div>
      <div class="col">
        <p class="text-right">Phone: (602) 456-1049<br>E-mail: <%= mail_to "faithfulword1@gmail.com" %></p>
      </div>
    </div>
  </div>
</footer>