<div class="<%= admin? ? "bg-danger sticky-top" : "bg-inverse"%> py-1">
  <div id="central-top">
    <div class="d-flex justify-content-between">
        <%= link_to 'Faithful Word Baptist Church | Tempe, Arizona', root_path, class: "text-silent" %>
        <%= content_tag(:p, 'ADMIN', id: 'admin') if admin? %>
        <%= admin? ? link_to('LOGOUT', logout_path, method: :delete, class: "yellow-btn") : link_to('DONATE', "https://www.truebornsons.com/donate-to-fwbc/", class: "yellow-btn", target: "_blank") %>
    </div>
  </div>
</div>